@page "/"

<PageTitle>Inicio Sesión - ProStockConstructora</PageTitle>

<section class="login">
    <article class="">
        <img src="imgs/LogoPSC.png" alt="Alternate Text" />
        <h1>Bienvenido a Pro Stock Construcción</h1>
    </article>
    <form action="/home" method="get">
        <h2>Iniciar Sesión</h2>
        <input type="text" placeholder="Ingrese nombre de usuario" />
        <input type="password" placeholder="Ingrese contraseña" />
        <button type="submit">Ingresar</button>
    </form>
</section>